# file types
*.test
*.prof
*.db
*.DS_Store

# Binaries for programs and plugins
timesheet.zip
*.exe
*.bin
*.app
*.app.zip
*.exe~
*.dll
*.so
*.o
*.a
*.dylib

# folders
vendor
node_modules
tmp

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
info.log
error.log
general.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw* 

# temporary build artifacts
build/*.*
build/client/*.*
build/client/dist/*.*
build/client/dist/js/*.*
build/client/dist/css/*.*
build/data/*.*
build/data/exported/*.*
build/data/backups/*.*
build/data/uploaded/*.*
build/documentation/*.*
build/logs/*.*

# backup and log files
server/data/backups/*
server/data/exported/*
server/data/uploaded/*
timesheet-backup.zip
logs/*

# private seed data
timesheet-data.xlsx
~$timesheet-data.xlsx
*_prod.csv
*-prod.yaml