# file types
*.test
*.prof
*.db
*.DS_Store

# Binaries for programs and plugins
timesheet.zip
*.exe
*.bin
*.app
*.app.zip
*.exe~
*.dll
*.so
*.o
*.a
*.dylib

# folders
vendor
node_modules
tmp

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
info.log
error.log
general.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
go.mod 
go.sum

# temporary build artifacts
build/timesheet.yaml
build/client/dist/index.html
build/client/dist/js/*.js
build/client/dist/js/*.LICENSE
build/client/dist/css/*.css
build/client/dist/fonts/*.woff
build/client/dist/fonts/*.woff2
build/client/dist/statics/*.png
build/client/dist/statics/*.jpg
build/client/dist/statics/icons/*.png
build/client/dist/statics/icons/*.svg
build/client/dist/statics/icons/favicon.ico
build/data/*.csv
build/data/exported/.*
build/data/backups/.*
build/data/uploaded/.*
build/documentation/*.md
build/documentation/statics/*.png
build/logs/.*

# backup and log files
server/data/backups/*.csv
server/data/exported/*.csv
server/data/uploaded/*.csv
timesheet-backup.zip
logs/*.log

# private seed data
*_dataarch.csv
*-dataarch.yaml
timesheet-prod.yaml
timesheet-prod.dataarch.yaml